.DS_Store
.idea/
.settings/settings.json
.vs/
.vscode/
*.booproj
*.csproj
*.DotSettings.user
*.sln
*.suo
*.unityproj
*.userprefs
*.meta
*.unitypackage
Assets/AssemblyVersion.g.cs
Assets/AssemblyVersion.g.cs.meta
Assets/BuildNumber_NEW_NEW.g.cs
Assets/BuildNumber_NEW_NEW.g.cs.meta
Assets/BuildNumber.g.cs
Assets/BuildNumber.g.cs.meta
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor/JetBrains/
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
DontRenameReason.txt
ExcludeRenameReason.txt
Library/
Logs/
obj/
Packages/
ProjectSettings/
RenameTableCommon.txt
TableForRestoreNames.txt
Temp/
VSCode.meta
VSCode/
